:root {
    --principal1: #2a2258;
    --principal2: #c89961;
  }
.w3-xlarge{
    top: 0;
    position: sticky;
    z-index: 100;
    background-color: #cccccc15;
}
.logo{
    background-image: url("../img/ethnos_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.imgheader{
    max-width: 918px;
    max-height: 612px;
}

.navlist{
    list-style: none;
    padding-left: 0;
}

body{
    color: var(--principal1);
}
h1{
    padding-left: 20px;
}
ul#lista-carrito{
    list-style: none;
}

ul#lista-carrito li{border-bottom: solid 1px gray;}

.carito p{
    font-weight: bold;
    margin: 10px;
}

.container{
    
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(1, 2fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.card{

border: 1px solid lightgray;
box-shadow: 2px 2px 8px 4px #d3d3d3d1;
border-radius:15px;
font-family: sans-serif;
display: grid;

}

.card__title{
font-size: 15px;
padding: 10px 10px 0 10px;;
}

.card__body{
padding: 10px;
}

.card img{
width: 100%;
}

.card__footer{

padding: 10px;
text-align:center;
}

.red{
    text-transform: uppercase;
    font-weight: lighter;
    border-bottom: solid 1px rgba(255, 255, 255, 0.209);
    padding-bottom: 5px;
}

.eliminar-producto{
    color: red;
    font-size: larger;
}
