:root {
    --principal1: #2a2258;
    --principal2: #c89961;
  }
.w3-xlarge{
    top: 0;
    position: sticky;
    z-index: 100;
    background-color: #cccccc15;
}
.logo{
    background-image: url("../img/ETHNOS\ \ -\ Logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.imgheader{
    max-width: 918px;
    max-height: 612px;
}

.navlist{
    list-style: none;
    padding-left: 0;
}

body{
    color: var(--principal1);
}

ul#lista-carrito{
    list-style: none;
}


